@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark !important;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

html, body {
  scroll-behavior: smooth;
}

.edit-tweet .p-fileupload {
  flex: 0 0 0;
}

.p-fileupload {
  flex: 1 1 0%;
}

.p-fileupload span[files] {
  display: none;
}

.speech-bubble-right::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 5px solid #9ae6b4;
  border-right: 5px solid transparent;
  border-top: 5px solid #9ae6b4;
  border-bottom: 5px solid transparent;
  right: -10px;
  top: 0;
}

.speech-bubble-left::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid white;
  border-top: 5px solid white;
  border-bottom: 5px solid transparent;
  left: -10px;
  top: 0;
}

.phone-blur::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: var(--custom-blur);
  backdrop-filter: var(--custom-blur);
  border-radius: 2rem;
}

.neon-glow {
  background-size: 150%;
  animation: neon-background 2s linear infinite alternate;
}

@keyframes neon-background {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

.neon-glow::before {
  content: attr(data-text);
  color: transparent;
  position: absolute;
  z-index: -1;
  animation: neon 7s linear infinite;
}

@keyframes neon {
  0% {
    text-shadow: 0px -4px #0fe7ff, 0px 4px #db0eff;
    filter: blur(20px);
  }
  12.5% {
    text-shadow: 2.8px -2.8px #0fe7ff, -2.8px 2.8px #db0eff;
  }
  25% {
    text-shadow: 4px 0px #0fe7ff, -4px 0px #db0eff;
  }
  37.5% {
    text-shadow: 2.8px 2.8px #0fe7ff, -2.8px -2.8px #db0eff;
  }
  50% {
    text-shadow: 0px 4px #0fe7ff, 0px -4px #db0eff;
    filter: blur(10px);
  }
  62.5% {
    text-shadow: -2.8px 2.8px #0fe7ff, 2.8px -2.8px #db0eff;
  }
  75% {
    text-shadow: -4px 0px #0fe7ff, 4px 0px #db0eff;
  }
  87.5% {
    text-shadow: -2.8px -2.8px #0fe7ff, 2.8px 2.8px #db0eff;
  }
  100% {
    text-shadow: 0px -4px #0fe7ff, 0px 4px #db0eff;
    filter: blur(20px);
  }
}
